html {
    height: 100%;
}
body {
    height:auto ;
    width: 100%;
    min-height: 100%;
    font-family: Arial, sans-serif;
    background: #dadada;
}
nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
.main {
    width: 100%;
    height: 845px;
    background: #fef5f2;
}

/* Dropdown button */
.dropbtn {
   padding: 16px;
    background-color: #fef5f2;
    cursor: pointer;
}
.dropbtn img {
    width: 75px;
    height: 30px;
}
/* div - для позиции кнопки */
.dropdown {
    position: relative;
    display: inline-block;
}
/*Контент для кнопки*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba (0,0,0,0.2);
    z-index: 1;
}
/*ссылки контента*/
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Выбор цвета кнопки при наведении мыши */
.dropdown-content a:hover {
    background-color: #ddd;
}
/* Показать меню при наведении */
.dropdown:hover .dropdown-content {
}
/* настройка цвета контента при наведении мыши*/
.dropdown:hover .dropbtn {
   
}
.priglos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.priglos h1 {
    font-size: 75px;
    font-family: bethoveen;
}
.priglos h2 {
    font-size: 35px;
}
.main h4 {
    padding-top: 25px;
    font-size: 23px;
    text-align: center;
    color: #eeb87d;
}
.data h3 {
    font-family: bethoveen;
    font-size: 45px;
    text-align: center;
}
.fotoWi {
    width: 100%;
    padding-top: 50px;
}

.info {
    width: 100%;
    height: 500px; 
    background: #fef5f2;
}
.miZenimsa {
    display: flex;
    flex-direction: column;
    justify-content:center;
    
}
.miZenimsa h1 {
    opacity: .3;
    font-size: 35px;
    font-family: dreams;
    text-align: center;
    text-transform: uppercase;
    color: #eeb87d;
}
.miZenimsa h2 {
    font-size: 32px;
    padding-left: 15%;
    margin-top: -3%;
}
.info h3 {
    padding-top: 15px;
    padding-left: 15%;
}
.info img {
    padding-top: 20px;
    padding-left: 15%;
    width: 30%;
}
.info p {
    font-size: 15px;
    margin-top: 35px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15px;
    line-height: 20px;
}
.infoData {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 7px;
    padding-left: 15%;
    padding-right: 15%;
}
.infoData h2 {
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 2px solid #eeb87d;
    border-bottom: 2px solid #eeb87d;
    color: #eeb87d;
}

.loveStory {
    width: 100%;
    height: 950px;
    background: #fef5f2;
    display: flex;
    flex-direction: column;
}
.loveStory h1 {
    opacity: .3;
    font-size: 35px;
    font-family: dreams;
    text-align: center;
    text-transform: uppercase;
    color: #eeb87d;
}
.loveFoto img {
    margin-top: 30px;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
}
.serdce img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    width: 50%;
}
.loveStory h2 {
    margin-top: -20px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 15px;
    font-size: 20px;
    text-transform: uppercase;
}
.loveStory p {
    font-size: 15px;
    padding-left: 15%;
    padding-right: 15%;
    line-height: 20px;
}

.mesto {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 845px;
    background: #fef5f2;
}
.mesto h1 {
    opacity: .3;
    font-size: 35px;
    font-family: dreams;
    text-align: center;
    text-transform: uppercase;
    color: #eeb87d;
}
.mesto h2 {
    font-size: 32px;
    padding-left: 15%;
    margin-top: -12%;
}
.fotoMesto {
    margin-top: 40px;
}
.fotoMesto img {
    padding-left: 15%;
    padding-right: 15%;
    width: 100%;
}
.mesto h3 {
    margin-bottom: 20px;
    margin-top: 40px;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 25px;
    text-transform: uppercase;
}
.vstrecha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #eeb87d;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}
.vstrecha1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eeb87d;
    border-bottom: 1px solid #eeb87d;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 10px;
    padding-bottom: 10px; 
    font-size: 15px;
}

.mesto h5 {
    text-align: end;   
}

.otveti {
    width: 100%;
    height: 945px;
    background: #fef5f2;
}
.dresscode {
    display: flex;
    flex-direction: column;
}
.dresscode h1 {
    opacity: .3;
    font-size: 35px;
    font-family: dreams;
    text-align: center;
    text-transform: uppercase;
    color: #eeb87d;
}
.dresscode p {
    margin-top: -15px;
    font-size: 15px;
    text-transform: uppercase;
    padding-left: 15%;
    padding-right: 15%;
    line-height: 20px;
}
.dresscode img {
    margin-top: 50px;
    padding-left: 15%;
    padding-right: 15%;
}
.vopros {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vopros h1 {
    margin-top: 100px;
    opacity: .3;
    font-size: 35px;
    font-family: dreams;
    text-align: center;
    text-transform: uppercase;
    color: #eeb87d;
}
.vopros h2 {
    padding-top: 25px;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 20px;
    text-align: center;
}
.vopros1 p {
    padding-top: 20px;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
}

.vopros1 img {
    
    width: 6%;
}
.vopros h3 {
    padding-top: 20px;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #eeb87d;
}
.vopros1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.zayac img {
    width: 100%;
    padding-top: 20px;
    padding-left: 15%;
    padding-right: 15%;
}

.zakluchenie {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 845px;
    background: #fef5f2;
}
.foto3 img {
    margin-top: 120px;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
}
.zakluchenie h1 {
    padding-top: 20px;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 20px;
    text-transform: uppercase;
}
.zakluchenie h2 {
    margin-top: -30px;
    padding-left: 15%;
    padding-right: 15%;
}
.zakluchenie p {
    padding-top: 20px;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 15px;
}

@font-face {
    font-family: bethoveen;
    src: url(../fonts/bethoveen.ttf);
}
@font-face {
    font-family:dreams;
    src: url(../fonts/dreams.ttf);
}
.conteiner{
    max-width: 420px;
    margin: 0 auto;
}

@media (max-width:1199px){
    .conteiner{
        max-width: 992px;
    }
}

@media (max-width:992px){
    .conteiner{
        max-width: 750px;
    }
}
@media (max-width:749px){
    .conteiner{
        max-width: none;
    }
}

